# *** IntelComp H2020 project ***

# Interactive Topic Model Trainer options for menu Navigator

# This file contains the complete list of options in the main script.
# It must contain at least a root menu with several options, and a description
# of each option in the root menu.
# Each option in any menu should have a description

# ROOT MENU
root:
  type: branch
  options: 
    #- setup
    #- create   <Some true options may be skipped because the appropriate one
    #- load      may have been selected by the starting command>
    - manageCorpus
    - manageLists
    - TMoptions


# LEVEL 1 MENU   
create: 
  title: Create a new Interactive Topic Model Trainer (ITMT) project

load:
  title: Load an existing Topic Model Trainer (ITMT) project

setup:
  title: Activate configuration file

# LEVEL 2 MENU manageCorpus 
manageCorpus:
  title: Corpus Management Options
  options:
    - fromHDFS
    - listDownloaded
    - listTMCorpus
    - createTMCorpus
    - deleteTMCorpus

fromHDFS:
  title: Retrieve data set from data catalogue

listDownloaded:
  title: List all Datasets retrieved from HDFS

listTMCorpus:
  title: List all available training corpus for Topic Modeling

createTMCorpus:
  title: Create a Traning dataset for Topic Modeling

deleteTMCorpus:
  title: Delete a Traning dataset for Topic Modeling


# LEVEL 2 MENU manageLists
manageLists:
  title: WordLists Management Options
  options:
    - listAllWdLists
    - NewWdList
    - EditWdList
    - DelWdList

listAllWdLists:
  title: List all Available Lists

NewWdList:
  title: Create a New List
  options:
    - parameters:
        keywords: Create a list of keywords
        stopwords: Create a list of stopwords
        equivalences: Create a list of equivalent terms

EditWdList:
  title: Modify an existing list

DelWdList:
  title: Delete an Existing wordlist


# LEVEL 2 TMoptions
TMoptions:
  title: Topic Modeling options
  options:
    - listTM
    - trainTM
    - train2ndTM
    - renameTM
    - copyTM
    - editTM
    - deleteTM
    #- inference

listTM:
  title: List available topic models

trainTM:
  title: Train a Topic Model
  options:
    - parameters:
        mallet: Mallet Topic Modeling
        sparkLDA: Spark MLLIB Topic Modeling
        prodLDA: ProdLDA Topic Modeling (deep learning)
        ctm: Contextualized Topic Model (deep learning)

train2ndTM:
  title: Train a second level Topic Model
  options:
    - parameters:
        mallet: Mallet Topic Modeling
        sparkLDA: Spark MLLIB Topic Modeling
        prodLDA: ProdLDA Topic Modeling (deep learning)
        ctm: Contextualized Topic Model (deep learning)

renameTM:
  title: Rename a Topic Model and edit Metadata

copyTM:
  title: Make a copy of an existing Topic Model

editTM:
  title: Edit a Static Topic Model
  post_opts:
    - showTopics
    - deleteTopic
    - showSimilar
    - fuseTopics
    - sortTopics
    - undoLast
    - resetTM

showTopics:
  title: Display Topics Composition
  post_opts: 
    - showTopics
    - deleteTopic
    - showSimilar
    - fuseTopics
    - sortTopics
    - undoLast
    - resetTM

deleteTopic:
  title: Remove Topics from Model
  post_opts: 
    - showTopics
    - deleteTopic
    - showSimilar
    - fuseTopics
    - sortTopics
    - undoLast
    - resetTM

showSimilar:
  title: Suggest Similar Topics
  post_opts: 
    - showTopics
    - deleteTopic
    - showSimilar
    - fuseTopics
    - sortTopics
    - undoLast
    - resetTM

fuseTopics:
  title: Merge Topics
  post_opts: 
    - showTopics
    - deleteTopic
    - showSimilar
    - fuseTopics
    - sortTopics
    - undoLast
    - resetTM

sortTopics:
  title: Sort Topics according to their size
  post_opts: 
    - showTopics
    - deleteTopic
    - showSimilar
    - fuseTopics
    - sortTopics
    - undoLast
    - resetTM

undoLast:
  title: Undo last modification of TM
  post_opts: 
    - showTopics
    - deleteTopic
    - showSimilar
    - fuseTopics
    - sortTopics
    - undoLast
    - resetTM

resetTM:
  title: Reset Topic Model
  post_opts: 
    - showTopics
    - deleteTopic
    - showSimilar
    - fuseTopics
    - sortTopics
    - undoLast
    - resetTM

deleteTM:
  title: Delete an Existing Topic Model



extractPipe:
  title: Extracción del pipeline para importación de datos con Mallet (previo a inferencia)
  options:
    - parameters:
        S24Ever: Extracción del pipeline para Semantic Scholar (Computer Science)
        Crunch4Ever: Extracción del pipeline para CrunchBase

inference:
  title: Inferencia de tópicos usando un modelo preentrenado
  options:
    - parameters:
        S24Ever: Usar modelos de Semantic Scholar (Computer Science)
        Crunch4Ever: Usar modelos de CrunchBase

scalability:
  title: Validación de modelos de tópicos
  options:
    - train_many
    - compute_reference_graph
    - compute_all_sim_graphs
    - validate_topic_models
    - show_validation_results
    - analyze_variability
    - show_variability_results
    - analyze_scalability
    - show_scalability_results
    - validate_subtrain_models
    - show_subtrain_results


# LEVEL 2 MENU   
train_many:
  title: Entrenar múltiples modelos de tópicos
  options:
    - parameters:
        S24Ever: Modelos para Semantic Scholar (Computer Science)
        Crunch4Ever: Modelos para CrunchBase

compute_reference_graph:
  title: Calcular grafo de referencia
  options:
    - parameters:
        S24Ever: Grafo de referencia para Semantic Scholar (Computer Science)
        Crunch4Ever: Grafo de referencia para CrunchBase

compute_all_sim_graphs:
  title: Calcular todos los grafos de similitud para validación
  options:
    - parameters:
        S24Ever: Grafos para Semantic Scholar (Computer Science)
        Crunch4Ever: Grafos para Crunchbase

validate_topic_models:
  title: Validar modelos de tópics mediante comparación de grafos
  options:
    - parameters:
        S24Ever: Validar modelos para Semantic Scholar (Computer Science)
        Crunch4Ever: Validar modelos para Crunchbase

show_validation_results:
  title: Generar gráficas de resultados de la validación
  options:
    - parameters:
        S24Ever: Resultados de Semantic Scholar (Computer Science)
        Crunch4Ever: Resultados de Crunchbase

analyze_variability:
  title: Validar modelos via análisis de variabilidad semántica
  options:
    - parameters:
        S24Ever: Validar modelos para Semantic Scholar (Computer Science)
        Crunch4Ever: Validar modelos para Crunchbase

show_variability_results:
  title: Generar gráficas de resultados del análisis de variabilidad
  options:
    - parameters:
        S24Ever: Resultados de Semantic Scholar (Computer Science)
        Crunch4Ever: Resultados de Crunchbase

analyze_scalability:
  title: Analiza la escalabilidad de la generación de grafos para validación
  options:
    - parameters:
        S24Ever: Grafos para Semantic Scholar (Computer Science)
        Crunch4Ever: Grafos para Crunchbase

show_scalability_results:
  title: Generar gráficas de resultados del análisis de escalabilidad
  options:
    - parameters:
        S24Ever: Grafos para Semantic Scholar (Computer Science)
        Crunch4Ever: Grafos para Crunchbase

validate_subtrain_models:
  title: Validar modelos subentrenados

show_subtrain_results:
  title: Generar gráficas de validacion de modelos subentrenados 

